@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800&display=swap');
@tailwind base;

@tailwind components;

@tailwind utilities;

body {

	/* max-width: 100vw; */
	/* width: 100vw; */
	background: rgba(227, 227, 227, 0.999);
	/* background-image: url("/src/lib/assets/water.webp");
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 55vh; */

	}
/* CUSTOM FONTS */
.font-roboto {
	font-family: 'Roboto', sans-serif;
}

.font-nunito {
	font-family: 'Nunito Sans', sans-serif;
}

.custom-bg-blue {
	background: #0033ff;
	color: white;
}

 .custom-glass {
	background: rgba(255, 255, 255, 0.868);
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(4px);
	/* border: 1px solid rgba(196, 193, 193, 0.11);; */
} 


/* Glass effect */
.glass-effect {
	background: rgba(250, 246, 246, 0.11);
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(7px);
	border: none;
}

.dark-glass-effect {
	background: rgb(15, 14, 14);
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(7px);
	border: none;
}

.glass-effect-2 {
	background: rgba(150, 149, 149, 0.068);
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(5px);
	border: 1px solid rgba(85, 84, 84, 0.062);
}

.glass-effect-3 {
	background: rgba(11, 11, 11, 0.11);
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(7px);
	border: none;
}

.glass-effect-4 {
	background: rgba(11, 11, 11, 0.692);
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(7px);
	border: none;
}

/* Trans-Effects */

.trans-effect-1 {
	background: radial-gradient(
		circle at -20.9% 51.2%,
		rgb(255, 124, 0) 17%,
		rgb(255, 124, 0) 10.9%,
		rgb(255, 163, 77) 15.9%,
		rgb(255, 163, 77) 24.4%,
		rgb(0, 0, 0) 20.5%,
		rgb(18, 20, 20) 80%
	);
}

.trans-effect-2 {
	background: radial-gradient(
		circle at -5.9% 51.2%,
		rgb(27, 24, 22) 17%,
		rgb(40, 40, 39) 5.9%,
		rgb(255, 163, 77) 15.9%,
		rgb(246, 150, 6) 24.4%,
		rgb(0, 0, 0) 20.5%,
		rgb(18, 20, 20) 50%
	);
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

@layer utilities {
	/* branding */
	.bg-brand {
		background: #5772db;
	}
	.text-brand {
		color: #5772db;
	}
	.bg-dark {
		background: #1a1a23;
	}
}

* {
	/* font-family: 'Inter', sans-serif; */
	font-family: 'Montserrat', sans-serif;
}

/* customize scrollbar default behaviour */
.scroll-element::-webkit-scrollbar {
	width: 4px;
}
.scroll-element::-webkit-scrollbar-track {
	box-shadow: transparent;
}
.scroll-element::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, orange, darksalmon);
}
