
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;

@tailwind components;



@tailwind utilities;



body {
	background: rgb(255, 255, 255);

/* 
	background-image: url("./lib/assets/color1.jpg");
	background-position: bottom bottom;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 999; */
  }

  .custom-font-thin {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

  .custom-font-medium {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}




.custom-font-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.custom-font-black {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}




.custom-bg-blue {
	background: #0033ff;
	color: white;
}

  .bg-main {
	/* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
		url('../../lib/assets/music2.jpg');
	background-size: cover;
	background-position: top center;
	min-height: 55vh; */
}

  /* Glass effect */
.glass-effect {
	background: rgba(250, 246, 246, 0.11);
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(7px);
	border: none;
  }

  .dark-glass-effect {
	background: rgb(15, 14, 14);
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(7px);
	border: none;
  }

  .glass-effect-2 {
	background: rgba(150, 149, 149, 0.068);
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(5px);
	border: 1px solid rgba(85, 84, 84, 0.062);;
  }

  .glass-effect-3 {
	background: rgba(11, 11, 11, 0.11);
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(7px);
	border: none;
  }

  .glass-effect-4 {
	background: rgba(11, 11, 11, 0.692);
	-webkit-backdrop-filter: blur(7px);
	backdrop-filter: blur(7px);
	border: none;
  }


  /* Trans-Effects */

  .trans-effect-1 {
	background: radial-gradient(circle at -20.9% 51.2%, rgb(255, 124, 0) 17%, rgb(255, 124, 0) 10.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(0, 0, 0) 20.5%, rgb(18, 20, 20) 80%);
  }


  .trans-effect-2 {
	background: radial-gradient(circle at -5.9% 51.2%, rgb(27, 24, 22) 17%, rgb(40, 40, 39) 5.9%, rgb(255, 163, 77) 15.9%, rgb(246, 150, 6) 24.4%, rgb(0, 0, 0) 20.5%, rgb(18, 20, 20) 50%);
  }
  .no-scrollbar::-webkit-scrollbar {
  display: none;
}
  

@layer utilities {
	/* branding */
	.bg-brand {
		background: #5772db;
	}
	.text-brand {
		color: #5772db;
	}
	.bg-dark {
		background: #1a1a23;
	}
}

* {
	/* font-family: 'Inter', sans-serif; */
	font-family: 'Montserrat', sans-serif;
}

/* customize scrollbar default behaviour */
.scroll-element::-webkit-scrollbar {
	width: 4px;
}
.scroll-element::-webkit-scrollbar-track {
	box-shadow: transparent;
}
.scroll-element::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, orange, darksalmon);
}
